body {
    margin: 0%;
}

header {
    margin-top: 57px;
}

.nav_had {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_had li {
    display: inline;
    width: 150px;
}

.cap_had {
    display: flex;
    justify-content: space-around;
}

.second_object {
    margin-top: 257px;
}